body {
    background: #f4f8fb;
  }
  #canvas-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    }

.pointer {
    position: absolute;
    top: 50%; /* khoảng cách từ trên xuống, để mũi tên nằm ngay mép trên */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #dc3545;
    z-index: 10;
    margin-top:-40px;
}
#wheelCanvas {
background: white;
border-radius: 50%;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.card {
border-radius: 15px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
}
.list-group-item:hover {
background-color: #e9f5ff;
}
.btn-primary, .btn-success {
border-radius: 10px;
}